stamp-h?
.dirstamp

.deps
config.log
config.status
Makefile.in
config.h.in
Makefile
configure
autom4te.cache
aclocal.m4
build/
!build/as-compiler-flag.m4
!build/coverage.m4

*.o
.*.sw*

linux
httpd
files
fw
rrdcache
postgres
mysql

bolo-collectors-*.tar.gz

*.debhelper.log
*.debhelper
*.substvars
debian/bolo-collectors/
debian/files
debian/tmp/
